<div class="person-control-card">
    <a class="button toggle-control">🛠️ Edit</a>
    <div class="person-control hidden">
        <form class="person-form">
            <input type="hidden" name="id" value=""/>
            <label>
                <span>Firs Name</span>
                <input name="fname" type="text" value=""/>
            </label>
            <label>
                <span>Last Name</span>
                <input name="lname" type="text" value=""/>
            </label>
            <button data-action="update">UPDATE</button>
            <hr>
            <button data-action="cancel">🫳 CANCEL</button>
            <button data-action="delete">❌ DELETE Person</button>
        </form>
    </div>
</div>